<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<date>2019-07-11T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2020-07-12T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-07-15T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-07-16T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-12-26T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-12-27T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-12-30T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2020-06-26T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-06-27T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-06-15T07:00:00Z</date>
		<string>YES</string>
	</array>
	<array>
		<date>2019-10-16T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-10-17T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-10-18T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-10-21T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2020-01-02T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2020-03-03T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-12-23T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-11-25T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-11-26T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-11-27T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-08-30T07:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2020-02-17T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2019-12-31T08:00:00Z</date>
		<string>NO</string>
	</array>
	<array>
		<date>2020-01-20T08:00:00Z</date>
		<string>NO</string>
	</array>
</array>
</plist>
