<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2116</key>
	<string>4</string>
	<key>2115</key>
	<string>4</string>
	<key>2114</key>
	<string>4</string>
	<key>2113</key>
	<string>5</string>
	<key>2112</key>
	<string>5</string>
	<key>2111</key>
	<string>4</string>
	<key>2110</key>
	<string>4</string>
	<key>2109</key>
	<string>4</string>
	<key>2108</key>
	<string>4</string>
	<key>2107</key>
	<string>5</string>
	<key>2106</key>
	<string>5</string>
	<key>2105</key>
	<string>4</string>
	<key>2104</key>
	<string>4</string>
	<key>2103</key>
	<string>4</string>
	<key>2102</key>
	<string>5</string>
	<key>2101</key>
	<string>5</string>
	<key>2100</key>
	<string>5</string>
	<key>2099</key>
	<string>4</string>
	<key>2098</key>
	<string>4</string>
	<key>2097</key>
	<string>4</string>
	<key>2096</key>
	<string>4</string>
	<key>2095</key>
	<string>5</string>
	<key>2094</key>
	<string>5</string>
	<key>2093</key>
	<string>4</string>
	<key>2092</key>
	<string>4</string>
	<key>2091</key>
	<string>4</string>
	<key>2090</key>
	<string>5</string>
	<key>2089</key>
	<string>5</string>
	<key>2088</key>
	<string>5</string>
	<key>2087</key>
	<string>4</string>
	<key>2086</key>
	<string>4</string>
	<key>2085</key>
	<string>4</string>
	<key>2084</key>
	<string>5</string>
	<key>2083</key>
	<string>5</string>
	<key>2082</key>
	<string>4</string>
	<key>2081</key>
	<string>4</string>
	<key>2080</key>
	<string>4</string>
	<key>2079</key>
	<string>5</string>
	<key>2078</key>
	<string>5</string>
	<key>2077</key>
	<string>5</string>
	<key>2076</key>
	<string>4</string>
	<key>2075</key>
	<string>4</string>
	<key>2074</key>
	<string>4</string>
	<key>2073</key>
	<string>5</string>
	<key>2072</key>
	<string>5</string>
	<key>2071</key>
	<string>4</string>
	<key>2070</key>
	<string>4</string>
	<key>2069</key>
	<string>4</string>
	<key>2068</key>
	<string>4</string>
	<key>2067</key>
	<string>5</string>
	<key>2066</key>
	<string>5</string>
	<key>2065</key>
	<string>4</string>
	<key>2064</key>
	<string>4</string>
	<key>2063</key>
	<string>4</string>
	<key>2062</key>
	<string>5</string>
	<key>2061</key>
	<string>5</string>
	<key>2060</key>
	<string>5</string>
	<key>2059</key>
	<string>4</string>
	<key>2058</key>
	<string>4</string>
	<key>2057</key>
	<string>4</string>
	<key>2056</key>
	<string>5</string>
	<key>2055</key>
	<string>5</string>
	<key>2054</key>
	<string>4</string>
	<key>2053</key>
	<string>4</string>
	<key>2052</key>
	<string>4</string>
	<key>2051</key>
	<string>5</string>
	<key>2050</key>
	<string>5</string>
	<key>2049</key>
	<string>5</string>
	<key>2048</key>
	<string>4</string>
	<key>2047</key>
	<string>4</string>
	<key>2046</key>
	<string>4</string>
	<key>2045</key>
	<string>5</string>
	<key>2044</key>
	<string>5</string>
	<key>2043</key>
	<string>4</string>
	<key>2042</key>
	<string>4</string>
	<key>2041</key>
	<string>4</string>
	<key>2040</key>
	<string>4</string>
	<key>2039</key>
	<string>5</string>
	<key>2038</key>
	<string>5</string>
	<key>2037</key>
	<string>4</string>
	<key>2036</key>
	<string>4</string>
	<key>2035</key>
	<string>4</string>
	<key>2034</key>
	<string>5</string>
	<key>2033</key>
	<string>5</string>
	<key>2032</key>
	<string>5</string>
	<key>2031</key>
	<string>4</string>
	<key>2030</key>
	<string>4</string>
	<key>2029</key>
	<string>4</string>
	<key>2028</key>
	<string>5</string>
	<key>2027</key>
	<string>5</string>
	<key>2026</key>
	<string>4</string>
	<key>2025</key>
	<string>4</string>
	<key>2024</key>
	<string>4</string>
	<key>2023</key>
	<string>5</string>
	<key>2022</key>
	<string>5</string>
	<key>2021</key>
	<string>5</string>
	<key>2020</key>
	<string>4</string>
	<key>2019</key>
	<string>4</string>
	<key>2018</key>
	<string>4</string>
	<key>2017</key>
	<string>5</string>
</dict>
</plist>
